In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
from bs4 import BeautifulSoup
import sqlite3

In [2]:
browser=webdriver.Chrome()

In [3]:
browser.get('https://www.tripadvisor.in')

In [4]:
accept = browser.find_element(By.ID, "onetrust-accept-btn-handler")
accept.click()

In [5]:
hotel_element = browser.find_element(By.CSS_SELECTOR, '[href="/Hotels"]')
hotel_element.click()

In [65]:
# search_box = browser.find_element(By.CLASS_NAME, 'EcFTp')
# search_box.click()

In [12]:
#two times to open and search
search = browser.find_element(By.CSS_SELECTOR, '[type="search')
search.send_keys('London' + Keys.RETURN)

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=107.0.5304.110)
Stacktrace:
0   chromedriver                        0x00000001041f0598 chromedriver + 4404632
1   chromedriver                        0x0000000104177fa3 chromedriver + 3911587
2   chromedriver                        0x0000000103e24d20 chromedriver + 425248
3   chromedriver                        0x0000000103e56e5f chromedriver + 630367
4   chromedriver                        0x0000000103e56402 chromedriver + 627714
5   chromedriver                        0x0000000103e7ada2 chromedriver + 777634
6   chromedriver                        0x0000000103e51465 chromedriver + 607333
7   chromedriver                        0x0000000103e7aefe chromedriver + 777982
8   chromedriver                        0x0000000103e91f79 chromedriver + 872313
9   chromedriver                        0x0000000103e7abd3 chromedriver + 777171
10  chromedriver                        0x0000000103e4fced chromedriver + 601325
11  chromedriver                        0x0000000103e50e51 chromedriver + 605777
12  chromedriver                        0x00000001041c00ce chromedriver + 4206798
13  chromedriver                        0x00000001041c4797 chromedriver + 4224919
14  chromedriver                        0x00000001041cba4f chromedriver + 4254287
15  chromedriver                        0x00000001041c54da chromedriver + 4228314
16  chromedriver                        0x000000010419e23f chromedriver + 4067903
17  chromedriver                        0x00000001041e26a8 chromedriver + 4347560
18  chromedriver                        0x00000001041e2816 chromedriver + 4347926
19  chromedriver                        0x00000001041f78fe chromedriver + 4434174
20  libsystem_pthread.dylib             0x00007ff80cc6e4e1 _pthread_start + 125
21  libsystem_pthread.dylib             0x00007ff80cc69f6b thread_start + 15

In [38]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [39]:
list_of_numbers = str(list(range(1, 101)))
hotels = []
for name in soup.findAll('a',{'data-clicksource':'HotelName'}):
      hotels.append(name.text.strip(list_of_numbers + '.'))
hotels[:5]

['YOTEL London Shoreditch',
 'The Montcalm Royal London House',
 'Park Grand London Hyde Park',
 'The Resident Covent Garden',
 'Park Grand Paddington Court']

In [40]:
ratings = []
for rating in soup.findAll('a',{'class':'ui_bubble_rating'}):
      if rating['alt'] == "5 of 5 bubbles":
            rating = 10
      elif rating['alt'] == "4.5 of 5 bubbles":
            rating = 9
      elif rating['alt'] == "4 of 5 bubbles":
            rating = 8
      elif rating['alt'] == "3.5 of 5 bubbles":
            rating = 7
      elif rating['alt'] == "3 of 5 bubbles":
            rating = 6
      else:
            rating = 5
      ratings.append(rating)
len(ratings)

34

In [41]:
reviews = []
for review in soup.findAll('a',{'class':'review_count'}):
  reviews.append(review.text.replace('reviews','').replace(',','').strip())
len(reviews)

34

In [42]:
price = []
for p in soup.findAll('div',{'data-sizegroup':'mini-meta-price'}):
  price.append(p.text.replace('€','').replace(',','').strip()) 
price[:5]
len(price)

34

In [43]:
d1 = {'Hotel':hotels,'Ratings':ratings,'No_of_Reviews':reviews,'Price, €':price}
df = pd.DataFrame.from_dict(d1)

In [44]:
df

,Hotel,Ratings,No_of_Reviews,"Price, €"
0,YOTEL London Shoreditch,9,685,112
1,The Montcalm Royal London House,10,3354,207
2,Park Grand London Hyde Park,8,3362,166
3,The Resident Covent Garden,10,1244,302
4,Park Grand Paddington Court,9,3212,145
5,Travelodge London City hotel,9,2378,59
6,"The Biltmore Mayfair, LXR Hotels & Resorts",8,173,930
7,Canopy by Hilton London City,10,424,194
8,The Montcalm London Marble Arch,10,3812,473
9,Hard Rock Hotel London,9,2244,386
10,"The Clermont, Charing Cross",10,6724,385
11,The Tower Hotel,8,12243,156
12,Novotel London Tower Bridge,8,3709,175
13,Travelodge London Docklands Central,8,576,74
14,Leonardo Royal Hotel London St. Paul's,8,1457,214
15,Leonardo Royal London Tower Bridge,8,2147,178
16,Holiday Inn London - West,9,1281,99
17,Royal National Hotel,6,10766,217
18,Park Plaza Westminster Bridge London,9,23721,301
19,Travelodge London Central City Road,8,2198,65
20,The Montague on The Gardens,10,5449,347
21,"The Standard, London",9,495,306
22,Millennium Gloucester Hotel London Kensington,8,6715,137
23,The Resident Kensington,9,4753,194
24,Travelodge London Manor House,9,264,96
25,The Bailey's Hotel London Kensington,9,1923,233
26,The Clarendon,8,2944,154
27,Travelodge London Covent Garden,8,12308,91
28,Grand Royale London Hyde Park,8,5417,139
29,The President Hotel,7,4704,193
30,Premier Inn London Hendon (The Hyde) hotel,8,842,82
31,St. Athans Hotel,8,855,109
32,Novotel London West,8,5326,164
33,Mercure London Bridge,9,440,188

In [45]:
df.to_csv("tripadvisor_london_list.csv")

In [46]:
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [47]:
tripadvisor = pd.read_csv('tripadvisor_london_list.csv')
tripadvisor.head()

,Unnamed: 0,Hotel,Ratings,No_of_Reviews,"Price, €"
0,0,YOTEL London Shoreditch,9,685,112
1,1,The Montcalm Royal London House,10,3354,207
2,2,Park Grand London Hyde Park,8,3362,166
3,3,The Resident Covent Garden,10,1244,302
4,4,Park Grand Paddington Court,9,3212,145

In [48]:
tripadvisor.to_sql('tripadvisor', conn, if_exists='append', index = False)

34

In [49]:
booking = pd.read_csv('bookingcom_london_list.csv')
booking.head()

   Unnamed: 0                       Hotel  Ratings  No_of_Reviews  Price, €
0           0             Fitzrovia Hotel      7.8           2624       221
1           1        ApartaSuites Emerald      8.2              4       171
2           2  The Windmill On The Common      8.5            767       146
3           3              The Kings Arms      9.4            612       204
4           4        The Tommyfield Hotel      8.6            483       135

In [50]:
booking.to_sql('booking_com', conn, if_exists='append', index = False)

25