In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from datetime import datetime
import datetime

import pandas as pd
from bs4 import BeautifulSoup

In [63]:
browser=webdriver.Chrome()

In [64]:
browser.get('https://www.booking.com/searchresults.en-gb.html?label=gen173nr-1FCAEoggI46AdIM1gEaIgBiAEBmAEJuAEHyAEM2AEB6AEB-AELiAIBqAIDuAKb2cObBsACAdICJDhlMmM1NjM0LThmOGUtNDM0MS1iMzc1LTc3NDNkYmUyOGQ0M9gCBuACAQ&sid=0a8a8b8d828997d72f8bdd29187f9767&aid=304142&checkin=2022-12-05&checkout=2022-12-11&dest_id=-2601889&dest_type=city&srpvid=2890666654be039a&nflt=review_score%3D80%3Breview_score%3D70%3Breview_score%3D60%3Breview_score%3D90')

In [65]:
accept = browser.find_element(By.ID, "onetrust-accept-btn-handler")
accept.click()

In [66]:
bsobj = BeautifulSoup(browser.page_source, 'lxml')

In [67]:
hotels = []
for name in bsobj.findAll('div',{'data-testid':'title'}):
  hotels.append(name.text.strip())
hotels[:5]
len(hotels)

25

In [68]:
ratings = []
for rating in bsobj.findAll('div',{'class':'d10a6220b4'}):
      ratings.append(rating.text.strip())
len(ratings)

25

In [79]:
reviews = []
for review in bsobj.findAll('div',{'class':'db63693c62'}):
  reviews.append(review.text.replace('reviews','').strip())
reviews[:5]
len(reviews)

25

In [76]:
price = []
for p in bsobj.findAll('span',{'class':['fbd1d3018c', 'bd73d13072']}):
  price.append(p.text.replace('€','').strip()) 
price[:5]
len(price)

25

In [82]:
d1 = {'Hotel':hotels,'Ratings':ratings,'No_of_Reviews':reviews,'Price, €':price}
df = pd.DataFrame.from_dict(d1)

In [86]:
df

,Hotel,Ratings,No_of_Reviews,"Price, €"
0,Stayo Apartments Southbank,8.7,69,"2,350"
1,Sun Street Hotel,9.1,42,"3,483"
2,One Hundred Shoreditch,8.6,"1,599","2,455"
3,Marlin Apartments London Bridge - Empire Square,7.6,916,"2,046"
4,"St. James' Court, A Taj Hotel, London",8.7,"3,516","2,607"
5,Nobu Hotel London Portman Square,8.5,859,"5,341"
6,"The Hoxton, Shoreditch",8.4,"1,523","2,628"
7,Tulse Hill Luxury Cosy Rooms,8.4,82,720
8,"Radisson Blu Edwardian Kenilworth Hotel, London",8.1,"2,229","2,911"
9,Hotel Xenia - Autograph Collection,8.1,66,"2,157"
10,Stunning New Development in Barking,7.1,25,853
11,Canary Riverside Plaza Hotel,8.4,607,"2,865"
12,COMO The Halkin,9.1,75,"4,062"
13,Park Grand London Kensington,8.0,"5,999","1,794"
14,"The Capital Hotel, Apartments & Townhouse",8.2,703,"3,004"
15,citizenM London Victoria Station,8.8,743,"2,166"
16,"Holiday Inn London - Regent's Park, an IHG Hotel",7.8,"2,902","1,908"
17,Bentley London,7.2,344,"2,388"
18,"Bankside Hotel, Autograph Collection",9.5,332,"2,914"
19,"St. Ermin's Hotel, Autograph Collection",9.2,580,"2,987"
20,The Beaufort,7.4,"1,227","3,079"
21,Courthouse Hotel Shoreditch,6.8,680,"2,331"
22,Aloft London Excel,8.3,"3,018","2,361"
23,nhow London,9.0,"2,670","2,902"
24,citizenM Tower of London,8.8,"5,524","2,206"

In [85]:
df.to_csv("bookingcom_london_list.csv")