# Web Scraping
# To do:
* Load booking.com and tripadvisor.com pages
* in search line insert city, date and number of people (It can be London, December 05-11th)
* search factors can differ according to page (tripadvisor might need room number)
* by default hotels are persented by popularity, so let's just take first 10, 15 or 20 and upload when to dataframe table
* table consist of: hotel name, price, rating, (can be number of reviews or smth else)

* After having two separate tables, maybe make one table if popular hotels are on both sites and when do comparison
* how many hotels are popular on both sites
* How prices differ on the sites (maybe make some graph)
* how ratings differ

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
from bs4 import BeautifulSoup

In [4]:
browser=webdriver.Chrome()

In [5]:
browser.get('https://www.booking.com/searchresults.en-gb.html?label=gen173nr-1FCAEoggI46AdIM1gEaIgBiAEBmAEJuAEHyAEM2AEB6AEB-AELiAIBqAIDuAKb2cObBsACAdICJDhlMmM1NjM0LThmOGUtNDM0MS1iMzc1LTc3NDNkYmUyOGQ0M9gCBuACAQ&sid=0a8a8b8d828997d72f8bdd29187f9767&aid=304142&checkin=2022-12-05&checkout=2022-12-11&dest_id=-2601889&dest_type=city&srpvid=2890666654be039a&nflt=review_score%3D80%3Breview_score%3D70%3Breview_score%3D60%3Breview_score%3D90')

In [6]:
accept = browser.find_element(By.ID, "onetrust-accept-btn-handler")
accept.click()

In [7]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [8]:
hotels = []
for name in soup.findAll('div',{'data-testid':'title'}):
  hotels.append(name.text.strip())
hotels[:5]
len(hotels)

25

In [9]:
ratings = []
for rating in soup.findAll('div',{'class':'d10a6220b4'}):
      ratings.append(rating.text.strip())
len(ratings)

25

In [10]:
reviews = []
for review in soup.findAll('div',{'class':'db63693c62'}):
  reviews.append(review.text.replace('reviews','').replace(',','').strip())
reviews[:5]
len(reviews)

25

In [11]:
price = []
for p in soup.findAll('span',{'class':['fbd1d3018c', 'bd73d13072']}):
  price.append(p.text.replace('€','').replace(',','').strip()) 
price[:5]
len(price)

25

In [12]:
d1 = {'Hotel':hotels,'Ratings':ratings,'No_of_Reviews':reviews,'Price, €':price}
df = pd.DataFrame.from_dict(d1)

In [13]:
df

,Hotel,Ratings,No_of_Reviews,"Price, €"
0,One Hundred Shoreditch,8.6,1622,2422
1,Stunning New Development in Barking,7.1,25,771
2,"St. James' Court, A Taj Hotel, London",8.7,3524,2596
3,Bayswater by CAPITAL,6.9,108,1454
4,Nobu Hotel London Portman Square,8.5,865,5336
5,Washington Mayfair Hotel,6.9,743,2764
6,"The Hoxton, Shoreditch",8.4,1524,2617
7,"The Capital Hotel, Apartments & Townhouse",8.2,705,3128
8,Marlin Apartments London Bridge - Empire Square,7.6,917,2140
9,"Radisson Blu Edwardian Kenilworth Hotel, London",8.0,2249,2809
10,Hotel Xenia - Autograph Collection,8.0,67,2262
11,Canary Riverside Plaza Hotel,8.4,605,2766
12,Tulse Hill Luxury Cosy Rooms,8.4,83,785
13,Nell Gwynn House Apartments,6.7,400,1710
14,COMO The Halkin,9.2,75,4187
15,Park Grand London Kensington,8.0,6014,1719
16,citizenM London Victoria Station,8.8,764,2185
17,The Knaresborough by Aura Collection,7.7,274,1329
18,Bentley London,7.2,345,2378
19,"Club Quarters Hotel St Paul's, London",7.7,3656,2237
20,"St. Ermin's Hotel, Autograph Collection",9.2,583,3056
21,"Staybridge Suites London-Vauxhall, an IHG Hotel",8.8,860,2601
22,"Bankside Hotel, Autograph Collection",9.5,340,3056
23,The Athenaeum Hotel & Residences,8.6,543,5451
24,Courthouse Hotel Shoreditch,6.8,683,2321

In [87]:
df.to_csv("bookingcom_london_list.csv")